 {%  extends "basetemplate.html" %}
 {% load static %}
 {% block contenido %}


  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="{% url "inicio" %}"><img src="{% static "Agrodigital/icon/logo negro.png" %}" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="{% url "inicio" %}">Inicio</a> </li>

                     <li> <a href="#"><img src="{% static "Agrodigital/icon/icon_b.png" %}" alt="#" /></a></li>
                     </ul>
                   </nav>
                 </div>
               </div>
              </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->

<div>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>
<div class="form-group">
        <H1>  Plan de acción Digitalización de Procesos </H1>
    <H3> Experto a líder </H3>
</div>
<div class="form-group">
    <h5>
        Para este nivel la empresa debe considerar alinear esta transformación con la estrategia digital, ya que un equipo alineado que conoce los objetivos de negocio y trabaja hacia el rumbo adecuado, será sin duda un mejor equipo. La alienación promueve que ese conjunto de personas alcance su verdadero potencial, puesto que la razón de existir del equipo es lograr un propósito común.
Debemos considerar que esta transformación implica múltiples desafíos que existirán en el camino como; Alinear ejecutivos y gestores, alinear áreas de negocio y de soporte, aprovechar la tecnología para facilitar la adaptación. No abordar estos desafíos, que es lo que tradicionalmente ocurre al quedarnos en el plano conceptual del diseño de la estrategia, generaría una brecha entre la estrategia de negocio y las capacidades de Tecnologías de la Información (TI).
La arquitectura empresarial corrige periódicamente esa desviación de la siguiente forma: Estructurando TI para posibilitar el cambio empresarial, soportando de forma óptima la estrategia de negocio. Así pues, la arquitectura empresarial es el proceso de estructuración de las Tecnologías de la Información (TI) para posibilitar el cambio empresarial, soportando de forma óptima la estrategia de negocio.
Todo esto se debe a llevar a cabo a través de profesionales especializados por lo que se recomienda contratar personal o bien capacitar a trabajadores en este ámbito, para que se pueda llevar este objetivo de la manera más cómoda y ágil posible para la organización, porque llevar a cabo el alineamiento no es una tarea fácil y se necesita de tiempo y recursos para poder lograr este objetivo.

</h5>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
</div>
</header>

<!-- about  -->

<!-- end abouts -->


  {% endblock %}