 {%  extends "basetemplate.html" %}
 {% load static %}
 {% block contenido %}


  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="{% url "inicio" %}"><img src="{% static "Agrodigital/icon/logo negro.png" %}" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="{% url "inicio" %}">Inicio</a> </li>

                     <li> <a href="#"><img src="{% static "Agrodigital/icon/icon_b.png" %}" alt="#" /></a></li>
                     </ul>
                   </nav>
                 </div>
               </div>
              </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->

<div>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>
<div class="form-group">
        <div class="text-center">
        <H1>  Plan de acción Digitalización de Procesos </H1>
        </div>
    <H3> Principiante a Intermedio </H3>
</div>
<div class="form-group">
    <h5>   <p class="p-5 bg-secondary text-white">Desde que se inició la agricultura, hace miles de años, los avances técnicos y tecnológicos han sido constantes. La tecnología va de la mano de la agricultura, pues desde siempre el agricultor ha procurado facilitar la ardua labor que implica el campo. Desde el arado de vertedera a los tractores, la tecnología en la agricultura supone avances y mejoras en la eficiencia de tu explotación. Por lo tanto, el potencial de las nuevas tecnologías es un factor que debemos valorar y tener en cuenta para la digitalización de procesos.
La digitalización es compleja porque requiere tiempo, dedicación, y muchas veces atención al detalle y otras capacidades que tú ni tu equipo no tienen por qué tener, sobre todo si eres el o la dueña de la empresa. Por eso generalmente recomendamos que las empresas que adoptan este tipo de cambio digital pidan ayuda a expertos. Existen dos formas de resolverlo:
1.Un equipo interno dedicado y capacitado además de especialistas contratados para este proyecto de digitalización.
2.Una empresa externa que digitaliza los procesos de punta a punta.
Flexibilice las formas de trabajo de su empresa, las tecnologías digitales habilitan nuevos modos de trabajar en equipo, compartir información, avanzar en tareas desde cualquier lugar y mantenerse comunicados a distancia. Esto permite lograr formas más flexibles en la ejecución de las responsabilidades laborales diarias.

</h5>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
</div>
</header>

<!-- about  -->

<!-- end abouts -->


  {% endblock %}