 {%  extends "basetemplate.html" %}
 {% load static %}
 {% block contenido %}


  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="{% url "inicio" %}"><img src="{% static "Agrodigital/icon/logo negro.png"%}" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="{% url "inicio" %}">Inicio</a> </li>

                     <li> <a href="#"><img src="{% static "Agrodigital/icon/icon_b.png"%}" alt="#" /></a></li>
                     </ul>
                   </nav>
                 </div>
               </div>
              </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->



<div>
    <!doctype html>
<html lang="en">
  <thead>
    <tr>
    <title>aun no puedo plasmar modelo de encuesta</title>
    <th scope ="col">preguntas</th>
    </tr>
    </thead>

  <body>
    <h1>Hello, world!</h1>

    {% for a in preguntas %}
        <td>{{ a.choices1 }}</td>
    {% endfor %}
  </body>
</html>
</div>
</header>

<!-- about  -->




<!-- end abouts -->


  {% endblock %}