 {%  extends "basetemplate.html" %}
 {% load static %}
 {% block contenido %}

     <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                        <h1>Preguntas</h1>
                    </div>
                        <h2>< class="p-2 bg-secondary text-white">Aquí se muestran los resultados obtenidos por el modelo de madurez </h2>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
             </div>
                 <div class="form-group">

            </div>
        </div>
        <!-- Page Header End -->

                   <tbody>

                   {{ form.as_p }}


                    <button type="submit" class="btn btn-outline-primary"> Visualización de Respuestas </button> </a> </td>
                       <div class="form-check-input">

                       </div>

                   <div class="form-group">

                        </div>
                   </tbody>
    {% endblock %}
