 {%  extends "basetemplate.html" %}
 {% load static %}
 {% block contenido %}

     <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                        <h1>Respuesta</h1>
                    </div>
                        <h2><p class="p-2 bg-secondary text-white"> Aqui retornar formulario </h2>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
             </div>
                 <div class="form-group">

            </div>
        </div>
        <!-- Page Header End -->



        <!-- Autor Start -->

        <div class="addpregunta">
            <div class="container">
               <form method="post" > {% csrf_token %}

                   <div class="form-group">

                   </div>

                   {% for a in Respuesta %}


                   {% endfor %}


                   <button type="submit" class="btn btn-outline-primary">Deberia retornar respuestas</button>
                       <div class="form-check-input">

                       </div>
               </form>
    <div class="form-group">

    </div>
            </div>
        </div>
        <!-- Service End -->


 {% endblock %}